spring:
  datasource:
    url: jdbc:h2:tcp://localhost/~/codecrew_test
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        #                show_sql: true
        format_sql: true
        default_batch_fetch_size: 1000 #(하이버네이트 전용속성) 이 기능을 사용하면 한번에 IN 쿼리로 원하는 갯수만큼 가져올 수 있다
    open-in-view: false